@import '../../scss/variables.scss';

$width-wrapper: 150px;
$height-wrapper: 60px;

@keyframes popupFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -50px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes popupFadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -30px);
    }
}

.popup {
    position: fixed;
    top: 50px;
    left: 50%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;

    &--visible {
        animation: popupFadeIn 0.4s ease-out forwards;
        pointer-events: auto;
    }

    &--hidden {
        animation: popupFadeOut 0.3s ease-in forwards;
        pointer-events: none;
    }

    &-wrapper {
        text-align: center;
        min-width: $width-wrapper;
        min-height: $height-wrapper;
        background-color: $main-theme;
        border: 1px solid $button-border-color;
        border-radius: 12px;
        padding: 6px 9px;

        backdrop-filter: blur(10px);
    }

    &-text-block {
        font-weight: 500;
        text-transform: uppercase;
    }

    &-title {
        height: 30px;
        margin-top: 3px;
        font-size: 18px;
        color: #1d1d1d;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--info-text {
        font-size: 12px;
        color: #1D1D1D;
        margin-top: 3px;
        line-height: 1.4;
    }

    & .buttons-block {
        margin-top: 0.36rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__hide {
        display: none;
    }
}